@import './../../styles/_variables';
@import './../../styles/_mixins';

.Scroll {
  padding: 0;
  box-sizing: border-box;
  @include flexCenter;
  border-radius: 50%;
  border: 1px solid $primaryLightGrey;
  color: $primaryDarkGrey;
  padding: 18px;
  width: 60px;
  height: 60px;
  transform: rotate(-90deg);

  &:hover {
    background-color: $primaryWhite;
  }

  &_dark {
    color: $primaryLightGrey;
    background-color: $secondaryDark;
    border: none;

    &:hover {
      background-color: #242222;
    }
  }
}
