.sidebar {
  display: block;
  position: absolute;
  right: 0;
  min-height: 100vh;
  width: 252px;
  @include noUserSelect;

  &_light {
    background-color: $secondaryWhite;
  }

  &_dark {
    background-color: $primaryBlack;
  }

  @include mediaTablet {
    width: 372px;
  }

  @include mediaDesktop {
    width: 492px;
  }

  &__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;

    @include mediaTablet {
      top: 32px;
    }

    @include mediaDesktop {
      top: 60px;
      right: 100px;
    }

    &_light {
      color: $primaryDarkGrey;
    }

    &_dark {
      color: $secondaryGrey;
    }
  }
}
