.message {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;

  @include mediaTablet {
    margin-top: 86px;
  }

  &__stripe {
    width: 160px;
    height: 2px;

    &_light {
      background-color: $accentRed;
    }
    &_dark {
      background-color: $accentGold;
    }
  }

  &__text {
    padding: 0 10px;
    text-transform: uppercase;

    &_light {
      color: $primaryDarkGrey;
    }
    &_dark {
      color: $primaryLightGrey;
    }
  }
}
