@import './../../styles/variables';

.BaseButton {
  font-family: $SecondFontFamily;
  font-size: $buttonTextSize;
  font-weight: $buttonTextWeight;
  text-transform: uppercase;
  color: $primaryWhite;
  border: none;
  padding: 0;
}
