@import './../../styles/_variables';
@import './../../styles/mixins';

.Button {
  font-family: $SecondFontFamily;
  font-size: $buttonTextSize;
  font-weight: $buttonTextWeight;
  text-transform: uppercase;
  color: $primaryWhite;
  border: none;
  padding: 0;
  box-sizing: border-box;
  @include flexCenter;
  gap: 12px;

  &_default {
    background-color: $primaryBlack;
    padding: 16px 0 16px 0;
    border-radius: 25px;
    width: 200px;

    &:hover {
      box-shadow: 0px 4px 10px 0px #00000040;
    }
    &:focus {
      background-color: #232323;
      box-shadow: 0px 4px 10px 0px #00000040;
    }

    &_dark {
      background-color: $accentGold;

      &:hover {
        box-shadow: 0px 4px 10px 0px #ab895640;
      }
      &:focus {
        background-color: #ba9052;
        box-shadow: 0px 4px 10px 0px #ab895640;
      }
    }
    &_disabled {
      @include disabledOpacity05;
    }
  }

  &_text {
    text-decoration: underline;
    background-color: transparent;
    color: $primaryDarkGrey;
    text-underline-offset: 4px;
    height: 16px;

    &:hover,
    :focus {
      color: $primaryBlack;
    }

    &_dark {
      color: $primaryLightGrey;

      &:hover,
      :focus {
        color: $primaryWhite;
      }

      &.Button_text_disabled {
        color: $secondaryGrey;
      }
    }

    &_disabled {
      color: $primaryLightGrey;
      @include disabledOpacity05;
    }
  }

  &_icon {
    @include flexCenter;
    color: $primaryDarkGrey;
    border-radius: 4px;
    width: 28px;
    height: 28px;
    background-color: $secondaryWhite;

    &:hover,
    :focus {
      color: $primaryBlack;
    }

    &_dark {
      color: $primaryLightGrey;
      background-color: $secondaryDark;

      &:hover,
      :focus {
        color: $primaryWhite;
      }
    }

    &_disabled {
      @include disabledOpacity05;
    }
  }
}
