// @import '@styles/_mixins.scss';
// @import '@styles/_variables.scss';

.container {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  background-color: inherit;
  padding: 0 20px 0 20px;
}
