.filterbar {
  &__wrapper {
    position: relative;
    top: 104px;
    min-height: 492px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mediaTablet {
      top: 180px;
    }

    &:last-child {
      margin-top: 32px;
    }
  }

  &__dropdowns {
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mediaTablet {
      left: 32px;
    }

    @include mediaDesktop {
      left: 40px;
    }
  }

  &__buttons {
    position: relative;
    left: 20px;
    display: flex;
    gap: 49px;
    margin-top: 32px;

    @include mediaTablet {
      // top: 689px;
      gap: 157px;
      left: 32px;
    }

    @include mediaDesktop {
      gap: 149px;
      left: 40px;
    }
  }
}
