.filterbar {
  position: absolute;
  right: 0;
  min-height: 100vh;
  width: 252px;
  @include noUserSelect;

  &_light {
    background-color: $secondaryWhite;
  }

  &_dark {
    background-color: $primaryBlack;
  }

  @include mediaTablet {
    width: 372px;
  }

  @include mediaDesktop {
    width: 492px;
  }

  &__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;

    @include mediaTablet {
      top: 32px;
    }

    @include mediaDesktop {
      top: 60px;
      right: 100px;
    }

    &_light {
      color: $primaryDarkGrey;
    }
    &_dark {
      color: $secondaryGrey;
    }
  }

  &__wrapper {
    position: relative;
    top: 104px;

    @include mediaTablet {
      top: 180px;
    }
  }

  &__dropdowns {
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mediaTablet {
      left: 32px;
    }

    @include mediaDesktop {
      left: 40px;
    }
  }

  &__buttons {
    position: absolute;
    top: 452px;
    left: 20px;
    display: flex;
    gap: 49px;

    @include mediaTablet {
      top: 689px;
      gap: 157px;
      left: 32px;
    }

    @include mediaDesktop {
      gap: 149px;
      left: 40px;
    }
  }
}
