.dropzone {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  align-items: center;

  &__avatar {
    height: 236px;
  }

  &__section {
    @include flexCenter;
    width: 200px;
    height: 200px;
    position: relative;

    &_avatar {
      width: 200px;
      height: 200px;

      @include mediaDesktop {
        &_full {
          position: absolute;
          top: -79px;
          left: -125px;
          z-index: 12;
          min-width: 800px;
          min-height: 767px;
        }
      }
    }

    &_paint {
      width: 280px;
      height: 187px;

      @include mediaTablet {
        width: 493px;
        height: 327px;
      }
    }
  }

  &__imageBlock {
    width: 100%;
    position: absolute;
    z-index: 11;

    &_avatar {
      height: 200px;
    }

    &_paint {
      height: 187px;

      @include mediaTablet {
        height: 327px;
      }
    }

    &_disabled {
      display: none;
    }

    &_image {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &_avatar {
        border-radius: 10px;
        position: relative;
      }

      &_paint {
        border-radius: 2px;
      }
    }

    &_icon {
      position: absolute;
      right: 8px;
      bottom: 8px;
    }
  }

  &__field {
    width: 100%;
    height: 100%;
    position: relative;

    &_light {
      background-color: $secondaryWhite;
      border: 1px dashed $secondaryGrey;

      &_drag {
        background-color: $primaryWhite;
      }
    }

    &_dark {
      background-color: $primaryBlack;
      border: 1px dashed $primaryDarkGrey;

      &_drag {
        background-color: $secondaryDark;
      }
    }

    &_paint {
      border-radius: 2px;
    }

    &_avatar {
      border-radius: 10px;

      &_drag {
        border-radius: 2px;
      }
    }
  }

  &__input {
    display: none;
  }

  &__placeholder {
    pointer-events: none;

    &_avatar {
    }

    &_paint {
      @include mediaTablet {
        height: 130px;
        width: 130px;
      }
    }
  }

  &__inner {
    @include flexCenter;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 16px;
  }

  &__text {
    display: none;
    width: 136px;
    text-align-last: center;
    font-family: $secondFontFamily;
    @include pBaseLight;
    height: 40px;
    pointer-events: none;

    &_light {
      color: $primaryDarkGrey;
    }

    &_dark {
      color: $primaryLightGrey;
    }

    &::before {
      content: '';
    }

    @include mediaTablet {
      &::before {
        content: 'You can drop your image here';
      }
      @include mediaDesktop {
        &_drag {
          width: 123px;
          &::before {
            content: 'Drop your image here';
          }
        }
      }
    }

    @include mediaDesktop {
      display: block;
    }

    &_main {
      font-family: $secondFontFamily;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      text-align-last: center;
      margin-bottom: 12px;
      pointer-events: none;

      &::before {
        content: '';
      }

      @include mediaTablet {
        &::before {
          content: 'Drop your image here, or';
        }
        left: 127px;
        top: 202px;
      }
    }

    &_sub {
      font-family: $secondFontFamily;
      font-size: 12px;
      font-weight: 300;
      width: 227px;
      height: 34px;
      text-align: center;
      text-align-last: center;
      pointer-events: none;

      &_light {
        color: $secondaryGrey;
      }

      &_dark {
        color: $primaryDarkGrey;
      }

      @include mediaTablet {
        width: 260px;
        height: 17px;
      }
    }
  }

  &__label {
    @include flexCenter;
    font-family: $secondFontFamily;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;

    &_light {
      color: $primaryDarkGrey;

      &:hover,
      :focus {
        color: $primaryBlack;
      }
    }

    &_dark {
      color: $primaryLightGrey;

      &:hover,
      :focus {
        color: $primaryWhite;
      }
    }

    &_paint {
      @include flexCenter;
      font-family: $secondFontFamily;
      font-size: 12px;
      font-weight: bold;
      text-decoration: underline;
      text-underline-offset: 4px;
      line-height: 22px;
      cursor: pointer;

      &::before {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        content: 'browse image';
      }

      &_light {
        color: $primaryDarkGrey;

        &:hover,
        :focus {
          color: $primaryBlack;
        }
      }

      &_dark {
        color: $primaryLightGrey;

        &:hover,
        :focus {
          color: $primaryWhite;
        }
      }

      @include mediaTablet {
        &::before {
          content: 'browse';
        }
      }
    }
  }

  &__error {
    &_avatar {
      bottom: -40px;
    }
    &_paint {
      bottom: -12px;
    }
  }
}
