@import './variables';

// Media queries standart
@mixin mediaMax {
  @media screen and (min-width: $breakpointMax) {
    @content;
  }
}
@mixin mediaDesktop {
  @media screen and (min-width: $breakpointDesktop) {
    @content;
  }
}

@mixin mediaTablet {
  @media screen and (min-width: $breakpointTablet) {
    @content;
  }
}

@mixin mediaMobile {
  @media screen and (min-width: $breakpointMobile) {
    @content;
  }
}

// Media queries for max-width param
@mixin mediaTabletMaxWidth {
  @media screen and (max-width: $breakpointTabletMaxWidth) {
    @content;
  }
}

@mixin mediaDesktopMaxWidth {
  @media screen and (max-width: $breakpointDesktopMaxWidth) {
    @content;
  }
}

// BreakPoints for Grid
@mixin paintingsGridDesktop {
  @media screen and (min-width: $breakpointDesktop) {
    grid-template-columns: repeat(3, minmax(392px, 1fr));
    @content;
  }
}

@mixin paintingsGridTablet {
  @media screen and (min-width: $breakpointTablet) {
    grid-template-columns: repeat(2, minmax(352px, 1fr));
    @content;
  }
}

@mixin paintingsGridMobile {
  @media screen and (min-width: $breakpointMobile) {
    grid-template-columns: minmax(280px, 1fr);
    @content;
  }
}

// Special mixin's
// Disabling user selection
@mixin noUserSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

// Flex positioning in the centre
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Opacity + disabled user selection + disabled click
@mixin disabledOpacity05 {
  pointer-events: none;
  opacity: 0.5;
  @include noUserSelect;
}

// Typography mixins
@mixin h1 {
  font-size: $h1Text;
  font-weight: $h1Medium;
}

@mixin h2 {
  font-size: $h2Text;
  font-weight: $h2Medium;
}

@mixin h3 {
  font-size: $h3Text;
  font-weight: $h3SemiBold;
}

@mixin h4 {
  font-size: $h4Text;
  font-weight: $h4Medium;
}

@mixin h5 {
  font-size: $h5Text;
  font-weight: $hBold;
}

@mixin h6 {
  font-size: $h6Text;
  font-weight: $h6Medium;
}

@mixin nav {
  font-size: $navText;
  font-weight: $navMedium;
}

@mixin pBaseLight {
  font-size: $pBaseText;
  font-weight: $pLight;
}

@mixin pBaseMedium {
  font-size: $pBaseText;
  font-weight: $pMedium;
}

@mixin pSmallLight {
  font-size: $pSmallText;
  font-weight: $pLight;
}

@mixin pSmallMedium {
  font-size: $pSmallText;
  font-weight: $pMedium;
}

@mixin pTiny {
  font-size: $pTinyText;
  font-weight: $pMedium;
}

@mixin buttonText {
  font-size: $buttonBold;
  font-weight: $buttonText;
}

@mixin capText {
  font-size: $capSmallText;
  font-weight: $capBold;
}

// Colors mixnis
@mixin lightTheme {
  background-color: $primaryWhite;
  color: $primaryDarkGrey;
}

@mixin darkTheme {
  background-color: $primaryBlack;
  color: $primaryLightGrey;
}
