@import './_variables';

// Media queries standart
@mixin mediaMax {
  @media screen and (min-width: $breakpointMax) {
    @content;
  }
}
@mixin mediaDesktop {
  @media screen and (min-width: $breakpointDesktop) {
    @content;
  }
}

@mixin mediaTablet {
  @media screen and (min-width: $breakpointTablet) {
    @content;
  }
}

@mixin mediaMobile {
  @media screen and (min-width: $breakpointMobile) {
    @content;
  }
}

// Media queries for max-width param
@mixin mediaTabletMaxWidth {
  @media screen and (max-width: $breakpointTabletMaxWidth) {
    @content;
  }
}

@mixin mediaDesktopMaxWidth {
  @media screen and (max-width: $breakpointDesktopMaxWidth) {
    @content;
  }
}

// BreakPoints for Grid
@mixin paintingsGridDesktop {
  @media screen and (min-width: $breakpointDesktop) {
    grid-template-columns: repeat(3, minmax(392px, 1fr));
    @content;
  }
}

@mixin paintingsGridTablet {
  @media screen and (min-width: $breakpointTablet) {
    grid-template-columns: repeat(2, minmax(352px, 1fr));
    @content;
  }
}

@mixin paintingsGridMobile {
  @media screen and (min-width: $breakpointMobile) {
    grid-template-columns: minmax(280px, 1fr);
    @content;
  }
}

// Special mixin's
// Disabling user selection
@mixin noUserSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

// Flex positioning in the centre
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Opacity + disabled user selection + disabled click
@mixin disabledOpacity05 {
  pointer-events: none;
  opacity: 0.5;
  @include noUserSelect;
}
