@import './fonts.scss';

$mainFontFamily: 'Cormorant SC', serif;
$secondFontFamily: 'Inter', sans-serif;

// H heading
$h1Text: 60px;
$h1Medium: 500;

$h2Text: 48px;
$h2Medium: 500;

$h3Text: 32px;
$h3SemiBold: 600;

$h4Text: 16px;
$h4Medium: 500;

$h5Text: 16px;
$h5Bold: 700;

$h6Text: 12px;
$h6Medium: 500;

//Navigation buttons
$navText: 16px;
$navMedium: 700;

// Paragraph base
$pBaseText: 16px;
$pLight: 300;
$pMedium: 500;

// Paragraph small
$pSmallText: 12px;
$pLight: 300;
$pMedium: 500;

// Paragraph tiny
$pTinyText: 8px;
$pMedium: 500;

// Button
$buttonText: 12px;
$buttonBold: 700;

// Subtitle
$subtitleText: 12px;
$subtitleBold: 700;

// Input
$inputText: 12px;
$inputBold: 700;

// Caption
$capBaseText: 16px;
$capMedium: 500;

$capMidText: 12px;
$capMedium: 500;

$capSmallText: 8px;
$capBold: 700;

// Colors
// Primary colors
$primaryWhite: #ffffff;
$primaryBlack: #121212;
$primaryLightGrey: #dedede;
$primaryDarkGrey: #575757;

// Secondary colors
$secondaryWhite: #fcfcfc;
$secondaryDark: #1a1818;
$secondaryGrey: #9c9c9c;

// Accent colors
$accentRed: #9b4b4b;
$accentGold: #ab8956;
$accentError: #ae2917;

// Blur color
$blurColor: #030303;

// BreakPoints
$breakpointMax: 1440px;
$breakpointDesktop: 1280px;
$breakpointTablet: 768px;
$breakpointMobile: 320px;

// BreakPoints with max-width param
$breakpointDesktopMaxWidth: 1279px;
$breakpointTabletMaxWidth: 767px;
$breakpointMobileMaxWidth: 319px;

// Button variables
$defaultButtonLightShadow: 0px 4px 10px 0px #00000040;
$defaultButtonLightFocus: #232323;
$defaultButtonDarkShadow: 0px 4px 10px 0px #ab895640;
$defaultButtonDarkFocus: #ba9052;

// Z-INDEX
$firstLayer: 1;
$secondLayer: 2;
$thirdLayer: 3;

// Transition time
$headerMenuDelay: 0.5s;

// Transition components
// Card
$cardTransition: all ease-in 0.3s;
$cardImgTransition: all 0.5s ease-out;
