@font-face {
  font-family: 'Cormorant SC';
  src: url('./../assets/fonts/CormorantSC/cormorant-sc-v18-latin-700.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('./../assets/fonts/CormorantSC/cormorant-sc-v18-latin-300.woff2')
    format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('./../assets/fonts/CormorantSC/cormorant-sc-v18-latin-500.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('./../assets/fonts/CormorantSC/cormorant-sc-v18-latin-600.woff2')
    format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./../assets/fonts/Inter/inter-v12-latin-300.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./../assets/fonts/Inter/inter-v12-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./../assets/fonts/Inter/inter-v12-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
