// @import '@styles/_mixins.scss';

.grid {
  display: grid;
  margin: 0 auto;

  @include paintingsGridMobile {
    gap: 20px;
  }

  @include paintingsGridTab {
    gap: 24px;
  }

  @include paintingsGridPC {
    gap: 32px;
  }
}
