@font-face {
  font-family: 'Cormorant SC';
  src: url('./CormorantWOFF/CormorantSC-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('./CormorantWOFF/CormorantSC-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('./CormorantWOFF/CormorantSC-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('./CormorantWOFF/CormorantSC-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./InterWOFF/Inter-Light_1.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./InterWOFF/Inter-Medium_1.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('.//InterWOFF/Inter-Bold_1.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
