.card {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: 4/3;

  @include breakPointPC {
    max-width: 392px;
    max-height: 260px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 80px;
    animation: loading 2s ease-out infinite;
  }

  &_light {
    background-color: #eeeded;
    &::before {
      background: linear-gradient(
        to right,
        transparent 0%,
        $primaryWhite 50%,
        transparent 100%
      );
    }
  }

  &_dark {
    background-color: #0d0d0d;
    &::before {
      background: linear-gradient(
        to right,
        transparent 0%,
        #181818 50%,
        transparent 100%
      );
    }
  }

  &__wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    max-height: 45px;

    @include breakPointTab {
      max-height: 66px;
      width: calc(100% - 28px);
    }
    @include breakPointPC {
      max-height: 82px;
      width: calc(100% - 92px);
    }
  }

  &__img {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.info {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 0 8px 0px;
  max-width: 236px;

  @include breakPointTab {
    padding: 12px 0 12px 0px;
    max-width: 300px;
  }
  @include breakPointPC {
    padding: 20px 0 20px 0px;
  }

  &_light {
    background-color: $primaryWhite;
  }

  &_dark {
    background-color: $primaryBlack;
  }

  &__textBlock {
    width: 100%;
    height: 29px;
    border: none;
    padding-left: 12px;

    @include breakPointTab {
      height: 42px;
    }

    @include breakPointPC {
      padding-left: 18px;
    }
  }

  &__title {
    box-sizing: border-box;
    max-width: 160px;
    height: 15px;
    background-color: #eeeded;

    @include breakPointTab {
      font-size: $h4TextSize;
      max-width: 214px;
      height: 19px;
    }

    &_light {
      background-color: #eeeded;
    }

    &_dark {
      background-color: #0d0d0d;
    }
  }

  &__subtitle {
    margin-block-start: 4px;
    width: 47px;
    height: 10px;

    &_light {
      background-color: #eeeded;
    }

    &_dark {
      background-color: #0d0d0d;
    }

    @include breakPointTab {
      margin-block-start: 8px;
      width: 70px;
      height: 15px;
    }
  }
}

@keyframes loading {
  from {
    left: -500px;
  }
  to {
    left: 100%;
  }
}

.img {
  width: 500px;
  height: 400px;
  overflow: hidden;
  background-color: inherit;
}
