@import '../../styles/_variables';
@import '../../styles/_mixins';

.Сard {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all ease-in 0.3s;
}

.img {
  transition: all 0.5s ease-out;
  @include noUserSelect;
  @include breakPointPC {
    &:hover {
      transform: scale(1.3);
    }
  }
}

.wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  max-height: 45px;

  @include breakPointTab {
    max-height: 66px;
    width: calc(100% - 28px);
  }
  @include breakPointPC {
    max-height: 82px;
    width: calc(100% - 92px);
  }
}

.info {
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: $primaryWhite;
  color: $primaryBlack;
  width: 100%;
  padding: 8px 0 8px 0px;
  max-width: 236px;

  @include breakPointTab {
    padding: 12px 0 12px 0px;
    max-width: 300px;
  }
  @include breakPointPC {
    padding: 20px 0 20px 0px;
  }

  &__textBlock {
    width: 100%;
    height: 29px;
    border: none;
    padding-left: 12px;
    letter-spacing: 0.0000000001px;

    @include breakPointTab {
      height: 42px;
    }

    @include breakPointPC {
      padding-left: 18px;
      border-left: 2px solid $accentRed;

      &_dark {
        border-left: 2px solid $accentGold;
      }
    }
  }

  &_dark {
    background-color: $primaryBlack;
    color: $primaryWhite;
  }

  &__title {
    box-sizing: border-box;
    font-family: $MainFontFamily;
    font-size: $h6TextSize;
    font-weight: $h4TextWeight;

    @include breakPointTab {
      font-size: $h4TextSize;
    }
  }

  &__subtitle {
    font-family: $SecondFontFamily;
    font-size: $capTextSmallSize;
    font-weight: $subtitleTextWeight;
    color: $accentRed;
    margin-block-start: 4px;
    margin-block-end: 0;

    &_dark {
      color: $accentGold;
    }

    @include breakPointTab {
      margin-block-start: 8px;
      font-size: $subtitleTextSize;
    }
  }

  &__arrow {
    max-width: 24px;
    width: 100%;
    background-color: $accentRed;
    display: flex;
    align-items: center;
    justify-content: center;

    &_dark {
      background-color: $accentGold;
    }

    @include breakPointPC {
      display: none;
    }
  }
}
