.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  @include mediaTablet {
    gap: 40px;
  }

  &__button {
    margin-top: 8px;

    @include mediaTablet {
      margin-top: 20px;
    }
  }
}
