.artist {
  &__wrapper {
    display: block;
    position: static;

    @include breakPointPC {
      position: relative;
      margin-left: 80px;
      margin: 0 auto;
      width: 100%;
      max-width: 1280px;
      height: 1000px;
      padding-left: 20px;
    }
    @include breakPointMax {
      max-width: 1440px;
    }
  }

  &__avatar {
    position: relative;

    &_image {
      max-height: 452px;

      @include breakPointTab {
        max-height: 1000px;
      }

      @include breakPointPC {
        position: absolute;
        height: 1000px;
        width: 1000px;
        right: 0;
      }
    }

    &_text {
      position: absolute;
      bottom: 0;
      background-color: inherit;
      padding-bottom: 20px;
      width: 300px;

      @include breakPointTab {
        width: 560px;
      }

      @include breakPointPC {
        position: relative;
        top: 60px;
        width: 604px;
        margin-bottom: 60px;
      }

      @include breakPointMax {
        left: 80px;
        margin-left: 0px;
      }

      &_dark {
        background-color: $primaryBlack;
        color: $secondaryGrey;
      }

      &_light {
        background-color: $primaryWhite;
        color: $primaryDarkGrey;
      }
    }
  }

  &__year {
    font-size: 12px;
    padding: 20px 0 12px 20px;

    @include breakPointTab {
      font-size: 16px;
    }

    @include breakPointPC {
      padding: 60px 0 32px 80px;
    }
  }

  &__name {
    font-size: 32px;
    font-weight: 500;
    padding-left: 20px;

    &_light {
      color: $accentRed;
      border-left: 2px solid $accentRed;
    }

    &_dark {
      color: $accentGold;
      border-left: 2px solid $accentGold;
    }

    @include breakPointTab {
      font-size: 48px;
    }

    @include breakPointPC {
      font-size: 60px;
      padding-left: 80px;
    }
  }

  &__container {
    padding: 0;
  }

  &__textBlock {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px;

    &_dark {
      background-color: $primaryBlack;
      color: $primaryLightGrey;
    }

    &_light {
      background-color: $primaryWhite;
      color: $primaryDarkGrey;
    }

    &_line {
      display: none;
      color: inherit;

      @include breakPointPC {
        display: block;
        padding-top: 12px;
      }
    }

    @include breakPointPC {
      position: relative;
      width: 604px;
      padding: 0 80px;
      padding-bottom: 60px;
    }
  }
  &__genres {
    margin-top: 20px;
  }
}
