.modal {
  width: 100%;
  height: 100%;
  position: relative;
  @include flexCenter;

  &_light {
    background-color: $secondaryWhite;
  }

  &_dark {
    background-color: $primaryBlack;
  }

  &__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;

    @include mediaTablet {
      top: 32px;
    }

    @include mediaDesktop {
      right: 32px;
    }

    &_light {
      color: $primaryDarkGrey;
    }

    &_dark {
      color: $secondaryGrey;
    }
  }
}
