.header {
  width: 100%;
  box-sizing: border-box;

  &_light {
    @include lightTheme;
  }

  &_dark {
    @include darkTheme;
  }

  &__wrapper {
    height: 64px;
    display: flex;
    justify-content: space-between;

    @include mediaTablet {
      height: 88px;
    }
    @include mediaDesktop {
      height: 80px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    &_icon {
      @include mediaDesktop {
        width: 91px;
        height: 20px;
      }
    }

    &_hide {
      display: none;
    }
  }

  &__menu {
    display: none;

    @include mediaDesktop {
      @include flexCenter;
    }
  }

  &__burger {
    display: flex;
    align-self: center;
    min-width: 24px;

    @include mediaDesktop {
      display: none;
    }
  }

  &__controls {
    display: flex;
    gap: 20px;

    @include mediaDesktop {
      display: none;
    }
    &_width {
      width: 100%;
    }
  }

  &__searchbar {
    @include flexCenter;

    &_width {
      width: 100%;
    }
  }

  &__loupe {
    &_disabled {
      display: none;
    }

    @include mediaTablet {
      display: none;
    }
  }

  &__search {
    display: none;

    &_open {
      display: block;
      width: 100%;
    }

    &_input {
      width: 100%;
    }
  }
}
