.header {
  width: 100%;
  box-sizing: border-box;

  &_light {
    @include lightTheme;
  }

  &_dark {
    @include darkTheme;
  }

  &__wrapper {
    height: 64px;
    display: flex;
    justify-content: space-between;

    @include mediaTablet {
      height: 88px;
    }
    @include mediaDesktop {
      height: 80px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    &_icon {
      @include mediaDesktop {
        width: 91px;
        height: 20px;
      }
    }
  }

  &__menu {
    display: none;

    @include mediaDesktop {
      @include flexCenter;
    }
  }

  &__burger {
    display: flex;
    align-self: center;

    @include mediaDesktop {
      display: none;
    }
  }
}
