.genre {
  font-family: $secondFontFamily;
  font-size: $capSmallText;
  line-height: 10px;
  box-sizing: border-box;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 30px;
  margin-right: 8px;
  margin-top: 12px;

  &_light {
    color: $primaryDarkGrey;
    background-color: $backgroundLight;
  }

  &_dark {
    color: $primaryLightGrey;
    background-color: $backgroundDark;
    border: 1px solid $primaryWhite;
    border-radius: 30px;
  }

  @include mediaTablet {
    font-size: $capMidText;
    margin-right: 20px;
    line-height: 17px;
  }
}
