.card {
  &__button {
    &_light {
      background-color: $cardIconLight;
    }
    &_dark {
      background-color: $cardIconDark;
    }
  }

  &__popover {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &_item {
      display: flex;
      align-items: center;
      height: 23px;
      padding: 0 16px;
      font-family: $secondFontFamily;
      @include buttonText;

      &_light {
        color: $primaryDarkGrey;

        &:hover {
          color: $primaryBlack;
        }
      }
      &_dark {
        color: $primaryLightGrey;

        &:hover {
          color: $accentGold;
          background-color: $primaryBlack;
        }
      }
    }
  }
}
