.picture {
  width: 200px;
  height: 236px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;

  &_wrapper {
    position: relative;
    display: flex;
  }

  &_placeholder {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);

    @include mediaDesktop {
      top: 40px;
      left: 70px;
    }
  }

  &_text {
    display: none;
    width: 136px;
    position: absolute;
    bottom: 40px;
    left: 32px;
    text-align-last: center;
    font-family: $secondFontFamily;
    @include pBaseLight;

    &_light {
      color: $primaryDarkGrey;
    }

    &_dark {
      color: $primaryLightGrey;
    }

    @include mediaDesktop {
      display: block;
    }
  }

  &_field {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;

    &_light {
      border: 1px dashed $secondaryGrey;
    }

    &_dark {
      border: 1px dashed $primaryDarkGrey;
    }

    &_icon {
      position: absolute;
      bottom: 8px;
      right: 8px;
      display: none;

      &_active {
        display: block;
      }
    }
  }
}
