.error {
  font-family: $secondFontFamily;
  display: flex;
  align-items: center;
  color: $accentError;
  @include pSmallLight;
  gap: 4px;
  margin-top: 4px;
  overflow-wrap: break-word;
  position: absolute;

  &__icon {
    min-width: 24px;
  }
}
