// @import '@styles/_variables.scss';
// @import '@styles/_mixins.scss';

.card {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all ease-in 0.3s;

  @include breakPointPC {
    max-width: 392px;
    max-height: 260px;
  }

  &__wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    max-height: 45px;

    @include breakPointTab {
      max-height: 66px;
      width: calc(100% - 28px);
    }
    @include breakPointPC {
      max-height: 82px;
      width: calc(100% - 92px);
    }
  }

  &__img {
    transition: all 0.5s ease-out;
    @include noUserSelect;
    @include breakPointPC {
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

.info {
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 0 8px 0px;
  max-width: 236px;

  @include breakPointTab {
    padding: 12px 0 12px 0px;
    max-width: 300px;
  }
  @include breakPointPC {
    padding: 20px 0 20px 0px;
  }

  &_light {
    background-color: $primaryWhite;
    color: $primaryBlack;
  }

  &__textBlock {
    width: 100%;
    height: 29px;
    border: none;
    padding-left: 12px;
    letter-spacing: 0.01px;

    @include breakPointTab {
      height: 42px;
    }

    @include breakPointPC {
      padding-left: 18px;

      &_light {
        border-left: 2px solid $accentRed;
      }

      &_dark {
        border-left: 2px solid $accentGold;
      }
    }
  }

  &_dark {
    background-color: $primaryBlack;
    color: $primaryWhite;
  }

  &__title {
    box-sizing: border-box;
    font-family: $MainFontFamily;
    font-size: $h6TextSize;
    font-weight: $h4TextWeight;
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: 280px;
    overflow: hidden;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    white-space: nowrap;

    @include breakPointTab {
      font-size: $h4TextSize;
    }
  }

  &__subtitle {
    font-family: $SecondFontFamily;
    font-size: $capTextSmallSize;
    font-weight: $subtitleTextWeight;
    margin-block-start: 4px;
    margin-block-end: 0;

    &_light {
      color: $accentRed;
    }

    &_dark {
      color: $accentGold;
    }

    @include breakPointTab {
      margin-block-start: 8px;
      font-size: $subtitleTextSize;
    }
  }

  &__arrow {
    max-width: 24px;
    width: 100%;
    @include flexCenter;

    &_light {
      background-color: $accentRed;
    }

    &_dark {
      background-color: $accentGold;
    }

    @include breakPointPC {
      display: none;
    }
  }
}
