.link {
  font-family: $secondFontFamily;
  font-weight: $medium;
  font-size: inherit;
  letter-spacing: 0.5px;
  @include decorationUnderline;
  display: flex;
  align-items: center;

  &_light {
    color: $primaryDarkGrey;

    &:hover {
      color: $primaryBlack;
    }
  }

  &_dark {
    color: $primaryLightGrey;

    &:hover {
      color: $primaryWhite;
    }
  }
}
