@import '@styles/_variables.scss';

.Link {
  font-family: $SecondFontFamily;
  font-weight: 500;
  font-size: inherit;
  letter-spacing: 0.5px;
  text-underline-offset: 5px;
  color: $primaryDarkGrey;

  &:hover {
    transform: scale(0.8837);
    color: $primaryBlack;
  }

  &_dark {
    color: $primaryLightGrey;

    &:hover {
      color: $primaryWhite;
    }
  }
}
