.slider {
  display: none;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;

  &__visible {
    display: block;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    @include h5;
    right: 20px;
    bottom: 20px;
    text-transform: uppercase;
    color: $primaryLightGrey;

    @include mediaTablet {
      @include h3;
      right: 40px;
      bottom: 60px;
    }

    @include mediaDesktop {
      bottom: 19px;
    }

    @include mediaMax {
      right: 120px;
      bottom: 100px;
    }
  }

  &__navigation {
    z-index: 3;
    position: absolute;
    top: calc(50% - 20px);
    width: 100%;
    height: 40px;
    justify-content: space-between;
    display: none;
    color: $secondaryGrey;

    @include mediaTablet {
      display: flex;
    }
  }

  &__next {
    border: none;
    background-color: transparent;
    display: block;
    color: inherit;

    cursor: pointer;
    padding: 0;

    &:disabled {
      opacity: 0.1;
      cursor: not-allowed;
    }
  }

  &__prev {
    border: none;
    rotate: 180deg;
    background-color: transparent;
    display: block;
    color: inherit;
    cursor: pointer;
    padding: 0;

    &:disabled {
      opacity: 0.1;
      cursor: not-allowed;
    }
  }
}

.action {
  &__close {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: $primaryLightGrey;

    @include mediaTablet {
      top: 40px;
      right: 40px;
    }
    @include mediaDesktop {
      top: 60px;
      right: 40px;
    }
    @include mediaMax {
      top: 60px;
      right: 120px;
    }
  }

  &__cover {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    color: $primaryLightGrey;

    @include mediaTablet {
      top: 40px;
      left: 40px;
    }

    @include mediaDesktop {
      top: 60px;
      left: 40px;
    }

    @include mediaMax {
      top: 60px;
      left: 120px;
    }
  }
}

.infoBlock {
  box-sizing: border-box;
  width: 253px;
  height: 68px;
  position: absolute;
  bottom: 80px;
  left: 0px;
  display: flex;
  justify-content: space-between;

  &_light {
    background-color: $secondaryWhite;
  }

  &_dark {
    background-color: $primaryBlack;
  }

  @include mediaTablet {
    width: 498px;
    height: 122px;
    bottom: 60px;
    left: 40px;
  }

  @include mediaDesktop {
    bottom: 19px;
  }

  @include mediaMax {
    bottom: 100px;
    left: 120px;
  }

  &__icons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 20px;
    background-color: transparent;

    @include mediaTablet {
      position: static;
      padding-top: 20px;
      padding-right: 20px;
    }
  }

  &__button {
    @include mediaTabletMaxWidth {
      background-color: transparent;
      color: $primaryLightGrey;
    }
  }

  &__container {
    @include flexCenter;
  }

  &__text {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: 9px;

    @include mediaTablet {
      padding-left: 20px;

      &_light {
        border-left: 2px solid $accentRed;
      }

      &_dark {
        border-left: 2px solid $accentGold;
      }
    }

    &_title {
      @include h6;
      text-transform: uppercase;

      &_light {
        color: $primaryBlack;
      }

      &_dark {
        color: $primaryWhite;
      }

      @include mediaTablet {
        @include h4;
      }
    }

    &_subtitle {
      font-family: $secondFontFamily;
      @include capText;

      &_light {
        color: $accentRed;
      }

      &_dark {
        color: $accentGold;
      }

      @include mediaTablet {
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
}
